<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css">
    <link rel="stylesheet" href='/css/main.css'>
</head>

<body>
    <header th:insert="common/header.html"></header>
    <div class="container" style="margin-bottom: 5px;">
        <a th:if="${session.signin}" class="btn btn-outline-dark btn-block" th:href="@{/post}" role="button">글쓰기</a>
    </div>
    <div class="container">
        <div th:each="post : ${postList}" class="card" style="margin-bottom: 5px;">
            <div class="card-body">
                <h3 class="card-title">
                    <a th:href="@{'/post/' + ${post.id}}">
                        <div th:text="${post.title}"></div>
                    </a>
                </h3>
                <div th:utext="${post.author}" class="card-subtitle text-muted"
                    style="display: inline-block; float: left;"></div>
                <div th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}" class="card-subtitle text-muted" style="display:inline-block; float: right;"></div>
        </div>
    </div>
    <nav style="text-align: center;">
        <ul class="pagination justify-content-center" style="margin-bottom: 5px;"
            th:with="start=${T(Math).floor(postList.number/10)*10 + 1},
                        last=(${start + 9 < postList.totalPages ? start + 9 : postList.totalPages})">
            <li class="page-item">
                <a class="page-link" th:href="@{/(page=0)}" aria-label="First">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li class="page-item" th:class="${postList.first} ? 'disabled'">
                <a class="page-link" th:href="${postList.first} ? '#' :@{/(page=${postList.number - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == postList.number - 1} ? 'active'">
                <a class="page-link" th:text="${page}" th:href="@{/(page=${page} - 1)}"></a>
            </li>
            <li class="page-item" th:class="${postList.last} ? 'disabled'">
                <a class="page-link" th:href="${postList.last} ? '#' : @{/(page=${postList.number + 1})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li class="page-item" >
                <a class="page-link" th:href="@{/(page=${postList.totalPages - 1})}" aria-label="Last">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>