<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
</head>

<body>
    <header th:insert="common/header.html"></header>
    <div class="container">
        <div th:each="post : ${postList}" class="card" style="margin-bottom: 5px;">
            <div class="card-body">
                <h3 class="card-title">
                    <a th:href="@{'/post/' + ${post.id}}">
                        <div th:text="${post.title}"></div>
                    </a>
                </h3>
                <div th:utext="${post.author}" class="card-subtitle text-muted" style="display: inline-block; float: left;"></div>
                <div th:utext="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}" class="card-subtitle text-muted" style="display:inline-block; float: right;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a th:if="${session.signin}" class="btn btn-dark" th:href="@{/post}" role="button">글쓰기</a>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>