body {
    font-family: 'NanumBarunGothic', sans-serif;
}

.card a:link {
    color: black;
    text-decoration: none;
}

.card a:visited {
    color: gray;
    text-decoration: none;
}

.card a:hover {
    color: black;
    text-decoration: none;
}